#include ".Xresources.d/colorscheme-dark-breeze"

URxvt.font:             -*-termsyn-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt.boldFont:         -*-termsyn-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt.scrollBar:        false
URxvt.iso14755:         false
URxvt.internalBorder:   25
